<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Live coding</title>

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script>
	<script src="js/script.js" defer></script>
</head>
<body>
	<div class="background">
		<div class="container">
			<div class="contents">
				<div class="slider" @mouseenter="pauseAutoplay" @mouseleave="resumeAutoplay">
					<div class="slider-viewer">
						<div class="controls">
							<button class="btn-left" @click="changeSlide(-1)"><i class="left fa-solid fa-chevron-left"></i></button>
							<button class="btn-right" @click="changeSlide(1)"><i class="right fa-solid fa-chevron-right"></i></button>
						</div>

						<div v-for="(objSlide, i) in arrImages" :key="objSlide.image" class="slide" :class="i === activeIndex ? 'active' : ''">
							<img :src="'img/' + objSlide.image" :alt="objSlide.title">
							<div class="text">
								<h2>{{ objSlide.title }}</h2>
								<p>{{ objSlide.text }}</p>
							</div>
						</div>
					</div>

					<div class="thumbs">
						<img
							v-for="(objSlide, i) in arrImages"
							:key="objSlide.image"
							:src="'img/' + objSlide.image"
							class="thumb-img"
							:class="{active: i === activeIndex}"
							@click="setActiveIndex(i)"
						>
					</div>
				</div>
				<div class="buttons">
					<button class="btn-start-stop" @click="controlAutoplay">{{ isAutoplayActive ? 'STOP' : 'START' }}</button>
					<button class="btn-invert" @click="invertAutoplay">INVERT</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>